@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'IBM Plex Sans', sans-serif;
}

/* ESTILOS PADRÃO */

header {
	display: flex;
	justify-content: center;
	height: 120px;
}
.container {
	display: flex;
	justify-content: space-between;
	width: 990px;
}

.column {
	flex-direction: column;
}
/* LOGO E MENU */

.logo {
	display: flex;
	align-items: center;
}

.menu {
	display: flex;
	align-items: center;
}

nav ul,
nav li {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li.active a{
	background-color: #2a9da4;
	color: #fff;
}

nav ul {
	display: flex;
}

nav a {
	display: block;
	text-transform: uppercase;
	margin: 1px;
	padding: 15px;
	text-decoration: none;
	color: #888888;
}

nav a:hover {
	background-color: #2a9da4;
	color: #fff;
	transition: all linear 300ms;
}

/* BANNER */

/* IMAGE */
#banner {
	display: flex;
	justify-content: center;
	background-image: url('../images/image.jpg');
	background-position: center;
	background-size: cover;
	height: 670px;
	color: #fff;
}

/* TEXT */
.text {
	flex:1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 550px;
}

h1.title {
	padding: 0;
	margin: 0;
	font-size: 72px;
}

h2.subtitle {
	font-size: 24px;
}

/* INFOS*/
.bloco {
	display: flex;
	height: 210px;
}

.bloco h1 a {
	color: #fff;
	text-decoration: none;
	font-size: 24px;
}

button.btn-banner {
	margin-top: 20px;
	background-color: transparent;
	padding: 8px;
	border: solid 1px #fff;	
	transition: all linear 300ms;
}

a button {
	color: #fff;
}

button.btn-banner:hover {
	background-color: #fff;	
	color: #2a9da4;
}

.blc1, .blc2, .blc3 {
	flex: 1;
	padding: 20px;
}

.blc1, .blc2, .blc3, h1 {
	margin: 0;
}

.blc1 {
	background-color: #42B3E5;
}

.blc2 {
	background-color: #2a9da4;
}

.blc3 {
	background-color: #3156A3;
}

p.p-text {
	font-size: 13px;
}

.schedules {
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	margin-top: 13px;
	padding-bottom: 13px;
	border-bottom: solid 1px #41639E;
}

.shedules.day {
	flex: 1;
}

.shedules.hour {
	flex: 1;
}

/* GERAL */
#general {
	display: flex;
	justify-content: center;
}

h3.general-title {
	color: #383838;
	border-bottom: solid 1px #2a9da4;
	width: 180px;
	display: flex;
}
/* MAIN E ARTICLE */
main {
	flex:2;
}

article a {
	text-decoration: none;
}

article .news_data {
	display: flex;
}

article .news_posted_at {
	font-size: 11px;
	background-color: #41639E;
	color: #fff;
	padding: 10px;
}

article .news_comments {
	font-size: 11px;
	background-color: #42B3E5;
	color: #fff;
	padding: 10px;
	margin-left: 2px;
}

article .news_thumbnail {
	margin-top: 30px;
}

article .news_thumbnail img {
	width: 100%;
	height: auto;
}

article h1.news_title{
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 23px;
	color: #383838;
}

article p.news_resume {
	font-size: 13px;
	color: #888;
	line-height: 20px;
}


/* ASSIDE */
aside {
	flex: 1;
}

.widget_title_text {
	color: #383838;
	margin-bottom: 5px;
}

.widget_title_bar {
	width: 50px;
	height: 2px;
	background-color: #2a9da4;
	margin-bottom: 18px;
}

